<template>
    <div v-loading="loading" id="content" style="width: calc(100% - 150px);height: 100%;float:left;background-color: #eee;overflow-y: auto;">
        <div class="gallery_item" v-for="img in show_images">
            <img :src="img.url" alt="">
        </div>
    </div>
</template>

<script>
export default {
    name    : "gallery",
    computed: {
        show_images() {
            let re = [];

            for (let i = 0; i < this.images.length; i++) {
                let item = this.images[i];

                re.push(item);
            }
            re.sort((a, b) => {
                return a.sort - b.sort;
            });

            return re;
        },
    },
    props   : {
        loading: {},
        images : {},
    }
}
</script>

<style scoped lang="scss">
.gallery_item {
    max-width: 100%;
    text-align: center;

    img {
        max-width: 100%;
        object-fit: cover;
    }
}

</style>
