<template>
    <div class="row" v-if="info">
        <div class="col-4">
            <img class="img-fluid" :src="info.cover" alt="">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col">{{ info.title }}</div>
            </div>
            <div class="row">
                <div class="col">{{ info.title_en }}</div>
            </div>
            <div class="row">
                <div class="col">頁數共{{ info.page_number }}頁</div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" @click="$emit('all')">抓取全部</button>
                    <button class="btn btn-danger" disabled>這邊考慮抓取特定的頁數</button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name   : "info",
    props  : ['info'],
    methods: {}
}
</script>

<style scoped>
img {
    width: 250px;
    height: 356px;
}
</style>
