<template>

    <div>
        <!--        {{ preview }}-->
        <div class="page" v-for="pre in preview">
            <div class="pre_img" v-for="item in pre.list">
                <div :style="item.style"></div>
            </div>
            <div style="clear:both"></div>
        </div>

    </div>

</template>

<script>
export default {
    name : "preview",
    props: ['preview'],
    watch: {
        preview: {
            deep: true,
            handler(preview) {
                let re = [];
                for (let i in preview) {
                    let item = preview[i];

                    re.push(item);
                }
                re.sort((a, b) => {
                    return a.number - b.number;
                })

                this.show = re;
            }
        }
    },
    data() {
        return {
            show: [],
        }
    }
}
</script>

<style scoped lang="scss">
.page {
    border-bottom: 1px black;
}

.pre_img {
    display: inline-block;
    border: 1px white solid;
    margin-right: 5px;

    &:hover {
        border: 1px black solid;
    }
}

</style>
