<template>
    <div id="sidebar" style="" v-loading="loading">
        <div id="top"></div>
        <div id="area_show">

            <div class="pre_img" v-for="item in preview.list" v-loading="inStatus(item.href)">
                <div :style="item.style" @click="getImage(item.href,item.sort)"></div>
            </div>
            <div style="clear:both"></div>

        </div>
        <div class="area_controller" v-if="1">
            <el-button @click="goto(number-1)"
                       type="primary"
                       icon="el-icon-caret-left"
                       :disabled="number-1<0"
                       circle></el-button>
            <select ref="sel">
                <option :value="index" v-for="(item,index) in max" :selected="index==number">{{ index }}</option>
            </select>
            <el-button @click="goto(number+1)"
                       type="primary"
                       icon="el-icon-caret-right"
                       :disabled="number+1>=max"
                       circle></el-button>
        </div>
        <!--    針對select的獨立功能    -->
        <div class="area_controller" v-else>
            <select ref="sel">Ò
                <option :value="index" v-for="(item,index) in max" :selected="index==number">{{ index }}</option>
            </select>
            <el-button type="primary"
                       icon="el-icon-caret-right"
                       circle></el-button>
            <el-button type="primary"
                       icon="el-icon-caret-right"
                       circle></el-button>
        </div>
        <div style="clear: both;"></div>
    </div>
</template>

<script>
export default {
    name : "Sidebar",
    props: {
        "preview"   : {},
        "loading"   : {},
        'number'    : {},
        'max_number': {},
        'spider'    : {},
        'status'    : {},
    },
    data() {
        return {
            max          : 0,
            select_number: null,
        }
    },
    watch  : {
        max_number(val) {
            this.max = parseInt(val ? val : 0);
        }
    },
    methods: {
        inStatus(url) {
            return this.status[url] && this.status[url].loading;
        },
        goto(num) {
            this.$emit("goto", num);
        },
        getImage(url, sort) {
            this.$emit("get", {
                url : url,
                sort: sort
            });
        }
    }
}
</script>

<style scoped lang="scss">
#area_show {
    float: left;
    width: 100%;
    overflow-y: auto;
    height: calc(100% - 50px);
    text-align: center;
}

.area_controller {
    text-align: center;
    float: left;
    width: 100%;
    height: 50px;
}

#sidebar {
    width: 150px;
    height: 100%;
    float: left;

}

.page {
    text-align: center;
    border-bottom: 1px black;
}

.pre_img {
    //display: inline-block;/*橫式*/
    display: block;
    border: 1px solid;
    margin-right: 5px;

    &:hover {
        border: 1px black solid;
        cursor: pointer;
    }
}
</style>
