<template>
    <div style="width: 100vw;height: 100vh;position: relative;">
        <sidebar ref="sidebar"
                 :preview="preview"
                 :loading="loading"
                 :max_number="info?info.page_number:0"
                 :number="select_page"
                 :status="status"
                 @goto="getPreview"
                 @get="getImage"
        ></sidebar>
        <gallery
            :loading="loading"
            :images="images"
        ></gallery>


        <div style="position: fixed;top: 0;right: 20px;">
            <el-button @click="info_show=true">資訊</el-button>
        </div>
        <el-dialog
            title="ExHentai抓取"
            :visible.sync="info_show"
            :close-on-click-modal="false"
        >
            <div class="row">
                <div class="col">
                    <el-input placeholder="请输入内容" v-model="target" class="input-with-select">
                        <el-button slot="append" icon="el-icon-search" @click="getInfoByUrl"></el-button>
                    </el-input>
                </div>
            </div>
            <template v-if="info">
                <div class="row">
                    <div class="col-4">
                        <img style="width: 100%;height: 100%;object-fit: cover;" alt="" :src="info.cover">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                <table class="table table-striped">
                                    <tr>
                                        <td>原文標題</td>
                                        <td>{{ info.title }}</td>
                                    </tr>
                                    <tr>
                                        <td>英文標題</td>
                                        <td>{{ info.title_en }}</td>
                                    </tr>
                                    <tr>
                                        <td>頁數</td>
                                        <td>{{ info.page_number }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <el-button type="primary" @click="getFirstPreview">獲取第一頁</el-button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </el-dialog>

        <!--        <div class="row">-->
        <!--            <div class="col-9">-->
        <!--                <input type="text" v-model="target" class="form-control">-->
        <!--            </div>-->
        <!--            <div class="col-3">-->
        <!--                <button v-if="loading" class="btn btn-primary" type="button" disabled>-->
        <!--                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
        <!--                    抓取中...-->
        <!--                </button>-->
        <!--                <button v-else class="btn btn-primary" @click="getInfoByUrl">抓取</button>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <info :info="info" @all="getAllPreview"></info>-->
        <!--        <preview :preview="preview"></preview>-->


    </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex';
import info from "./info";
import preview from "./preview";
import sidebar from "./Sidebar";
import gallery from "./gallery";

export default {
    name      : "Spider",
    components: {
        info, preview, sidebar, gallery
    },
    computed  : {
        //這個是留紀念的，一般來說不需要
        ...mapGetters({
            getTarget: 'getTarget',
            getUser  : 'getUser',
        }),

    },
    mounted() {
        this.setTarget("abc");
        this.info_show = true;
    },
    data() {
        return {
            loading  : false,
            info_show: false,
            //下載對象
            // target: "https://exhentai.org/g/1790387/52d73a5ec1/",
            target: "https://exhentai.org/g/1851897/6dab4bd816/",
            // target     : "https://exhentai.org/g/1808392/782ae7115d/",
            select_page: 0,
            // target : null,

            info: null,

            //
            status: {},
            //預覽
            preview: [],
            //顯示圖片
            images: [],
        }
    },
    methods: {
        ...mapMutations({
            setTarget: 'setTarget'
        }),
        getInfoByUrl() {
            this.loading = true;
            axios.post("/spider/get_info_by_url", {
                url: this.target
            }).then(({data}) => {
                this.info = data;
            }).catch(() => {

            }).finally(() => {
                this.loading = false;
            });
        },
        //取得第一頁
        getFirstPreview() {
            this.getPreview(0)
        },
        getPreview(num) {
            this.loading     = true;
            this.select_page = num;

            axios.get("/spider/pv", {
                params: {
                    url: this.info.target,
                    num: num
                }
            }).then((resp) => {
                let {data}   = resp;
                this.preview = data;
            }).finally(() => {
                this.loading = false;
            })
        },
        //取得全部預覽
        getAllPreview() {

            let limit    = 5;
            // let limit = this.info.page_number;
            this.preview = [];
            for (let i = 0; i < limit; i++) {
                // this.preview[i] = {
                //     number: i,
                //     list  : null
                // };
                axios.get("/spider/pv", {
                    params: {
                        url: this.info.target,
                        num: i
                    }
                }).then((resp) => {
                    let {data} = resp;
                    this.preview.push(data);
                })

            }


        },
        //取得指定單頁
        async getImage(page) {
            let {url, sort} = page;
            let chapter_id  = this.info ? this.info.chapter_id : 0;
            let status      = {
                ...this.status
            };
            status[url]     = {
                loading: true,
            };
            this.status     = status;

            let resp   = await axios.post("/spider/get_page", {
                url,
                sort,
                chapter_id,
            });
            let {data} = resp;

            let n_status  = {
                ...this.status
            };
            n_status[url] = {
                sort,
                url,
                image  : data.url,
                loading: false,
            }
            this.status   = n_status;

            this.images.push({
                ...data,
                sort,
                chapter_id,
            })
        }

    }
}
</script>

<style scoped>
body {
    padding: 0;
    margin: 0;
}
</style>
