<template>

    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">
                    這邊顯示列表
                </div>
            </div>


            <div class="row">
                <div class="col">
                    體重記錄
                </div>
            </div>

        </div>
    </div>

</template>

<script>
export default {
    name: "List"
}
</script>

<style scoped>

</style>
