<template>
    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col-9" v-show="show.weight">
                    <canvas id="myChart"></canvas>
                </div>

                <div class="col-3">

                    <div class="row">
                        <div class="col">
                            這邊放切換的按鈕
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            這邊放切換的按鈕
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
import 'chart.js/dist/chart';

export default {
    name: "MyWeight",
    data() {
        return {
            loading: false,

            src_data: null,

            show: {
                weight: true,
            },

            chart_weight  : null,
            chart_calories: null,
        };
    },
    methods: {

        showChart(target) {
            let show     = {
                weight: false,
            };
            show[target] = true;
            this.show    = show;
        },

        test() {

            const labels = [
                '9/12 10月',
                '9/14 10月',
                '9/14 19月',
                '9/15 7月',
                '9/16 10月',
                '9/16 14月',
            ];
            const data   = {
                datasets: [
                    // {
                    //     type           : 'bar',
                    //     label          : '體重',
                    //     data           : [150, 70, -30, 50, 100, 32],
                    //     borderColor    : 'rgb(255, 99, 132)',
                    //     backgroundColor: 'rgba(255, 99, 132, 0.2)'
                    // },
                    {
                        type       : 'line',
                        label      : '熱量',
                        data       : [87.2, 86.8, 88.0, 87.5, 87.2, 86.9],
                        fill       : false,
                        borderColor: 'rgb(54, 162, 235)'
                    }
                ],
                labels,
            };
            let canvas   = document.getElementById('myChart'); // in your HTML this element appears as <canvas id="mycanvas"></canvas>
            let ctx      = canvas.getContext('2d');

            this.chart_weight = new Chart(
                ctx, {
                    data   : data,
                    options: {}
                }
            );
            console.dir(this.chart_weight.data);

            //更新
            labels.push('哈哈');
            this.chart_weight.data.labels           = labels;
            this.chart_weight.data.datasets[0].data = [87.2, 86.8, 88.0, 87.5, 87.2, 86.9, 90];

            this.chart_weight.update();
        },
    },

    mounted() {
        this.test();

        axios.get('/api/chart/my_weight').then((response) => {
            let {data}    = response;
            this.src_data = data;
            console.log(data)
        }).catch((err) => {
            let {response} = err;

            let {data, status} = response;
            this.status        = status;
        }).finally(_ => {

        });
    },
}
</script>

<style scoped lang="scss">

</style>
