<template>
    <div class="row">
        <div class="col-9">
            <template v-for="(page,ind) in pages">
                <div class="row">
                    <div class="col">
                        <a :href="'#p'+(pages[ind+1]? pages[ind+1].id: '') " :name="'p'+page.id">
                            <img :src="page.url" alt="" class="page">
                        </a>
                    </div>
                </div>
            </template>
        </div>
        <div id="info" class="col-3">
            <div class="row">
                <div class="col">
                    <select class="custom-select" v-model="select_mode">
                        <option v-for="item in allMode" :value="item.mode" :selected="item.mode==mode">{{ item.text }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";

export default {
    name: "chapterViewer",
    data() {
        return {
            mode       : 1,
            select_mode: 1,

            pages: [],
        }
    },
    methods : {
        ...mapMutations({
            setPages: "comic_chapter/setPages",
        }),
        start() {

            this.pages       = this.getPages;
            this.select_mode = this.mode;
        },

    },
    watch   : {
        select_mode(mode) {
            if (mode != this.mode)
                this.$emit("modeChange", mode);
        },
    },
    computed: {
        ...mapGetters({
            allMode: 'comic_chapter/allMode',

            getPages : 'comic_chapter/getPages',
            showPages: 'comic_chapter/showPages',

            getShowPageCount: 'comic_chapter/getShowPageCount',
        })
    },
    mounted() {
        this.start();
    },
}
</script>

<style scoped lang="scss">
img.page {
    max-width: 100%;
    margin-bottom: 10px;
}
</style>
