<template>
    <div class="row" id="main" v-loading="loading">
        <div class="col">

            <div class="row">
                <div class="col">
                    <router-link :to="{name:'comic.detail' , params:{id:comic_id}}">
                        <i class="el-icon-d-arrow-left"></i>返回
                    </router-link>
                </div>
            </div>
            <template v-if="mode==0">
                <chapterDrag
                    ref="chapter_drag"
                    @modeChange="modeChange"
                ></chapterDrag>
            </template>
            <template v-if="mode==1">
                <chapterViewer
                    ref="chapter_viewer"
                    @modeChange="modeChange"
                ></chapterViewer>
            </template>

        </div>
    </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex';
import axios from "axios";
import chapterDrag from "./chapterDrag";
import chapterViewer from "./chapterViewer";

export default {
    name: "chapter",
    data() {
        return {
            id: null,//onchange 拿掉 store，那個會變慢

            pages     : [],
            show_pages: [],
            show_count: 12,//這邊要稍微想一下超過的處理方式

            loading: false,

            comic_id: 0,

            mode: 0, //0 拖曳模式 1 大張閱讀模式

            //拖曳模式

        }
    },
    methods : {
        ...mapMutations({
            setPages: "comic_chapter/setPages",
        }),
        modeChange(mode) {
            this.mode = mode;
        },

    },
    computed: {
        ...mapGetters({
            allMode  : 'comic_chapter/allMode',
            getPages : 'comic_chapter/getPages',
            showPages: 'comic_chapter/showPages',
        })
    },
    watch   : {},
    mounted() {
        let id       = this.$route.params.id;
        this.id      = id;
        this.loading = true;

        axios.get("/api/comic/chapter/" + id).then((response) => {
            let {data} = response;
            let pages  = data.pages;
            pages.sort((a, b) => {
                return a.sort - b.sort;
            });
            this.pages    = pages;
            this.comic_id = data.comic_id;

            this.setPages(pages);
            // console.log(this.$store.state.comic_chapter.pages)
            console.log(data)
            this.$refs.chapter_drag.start()
        }).catch((err) => {
            let {response} = err;

            let {data, status} = response;
            this.status        = status;

        }).finally(() => {
            this.loading = false;
        })
    },
    components: {chapterDrag, chapterViewer}
}
</script>

<style scoped lang="scss">
.dis_in_f {
    display: inline-flex;
}

.r {
    color: red;
}

#main {
    position: relative;

    .page_group {
        //display: inline-flex;
        margin-right: 20px;

        .css_table {
            display: table;
            border: 1px solid black;

            .thead {
                display: table-header-group;

                .th {
                    display: table-cell;
                    padding: 5px;
                }
            }

            .css_tr_group {
                display: table-row-group;
            }
        }

        .page {
            display: table-row;

            //width: 300px;
            //height: 50px;

            &:hover {
                background-color: #b1dfbb;
            }

            .css_td {
                display: table-cell;
                text-align: center;
                //cursor:

                &.preview {
                    width: 50px;
                    height: 50px;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &:hover {
                    cursor: pointer;
                }

                &.handle:hover {
                    cursor: move;
                }
            }
        }
    }

    #info {
        background-color: #e8e8e8;
    }
}
</style>
