<template>

    <div class="row" v-loading="loading">
        <div class="col-9">
            <div class="dis_in_f" v-for="(item,ind) in show_pages">

                <div class="page_group">
                    <!--             因為會黏在一起的關係，所以之後要把 div table 改掉                  -->
                    <div class="text-center">
                        {{ (ind * show_count) + 1 }} ~ {{ ((ind + 1) * show_count) }}
                    </div>
                    <div class="css_table">
                        <div class="thead">

                            <div class="th"></div>
                            <div class="th">排序</div>
                            <div class="th">縮圖</div>
                        </div>
                        <draggable
                            class="css_tr_group"
                            v-model="show_pages[ind]"
                            handle=".handle"
                            group="page"
                            @end="resetPages"
                        >


                            <div class="page" v-for="(page,key) in item" ref="pages" :p_id="page.id" :old_sort="page.sort" :new_sort="(ind * show_count) + key + 1">

                                <div class="css_td" @click="showPageInfo(page)" :class="{r:!checkSort((ind * show_count) + key + 1 , page.sort )}">
                                    {{ (ind * show_count) + key + 1 }}
                                </div>
                                <div class="css_td" @click="showPageInfo(page)" :class="{r:!checkSort((ind * show_count) + key + 1 , page.sort )}">
                                    {{ page.sort }}
                                </div>
                                <div class="css_td preview handle" :style="{'background-image': backgroundImage(page.url)}">

                                </div>
                            </div>

                        </draggable>
                    </div>


                </div>
            </div>
        </div>
        <div id="info" class="col-3">
            <div class="row">
                <div class="col">
                    <select class="custom-select" v-model="select_mode">
                        <option v-for="item in allMode" :value="item.mode" :selected="item.mode==mode">{{ item.text }}</option>
                    </select>
                </div>
            </div>
            <template>
                <div class="row">
                    <div class="col">
                        <a href="javascript:void(0)" @click="">新增</a>&nbsp;&nbsp;
                        <a href="javascript:void(0)" v-if="change_pages.length>0" @click="changeSort">修改順序</a>&nbsp;&nbsp;
                        <a href="javascript:void(0)" @click="deletePage" v-if="select_page">刪除</a>&nbsp;&nbsp;
                    </div>
                </div>
            </template>
            <template v-if="select_page">
                <div class="row">
                    <div class="col">
                        <img id="img_info" :src="select_page.url" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        編號：
                    </div>
                    <div class="col-7">
                        {{ select_page.id }}
                    </div>
                    <div class="col-12">
                        這邊放資料， 改用form-group 那邊 比較不會擁擠
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import draggable from "vuedraggable";
import {mapGetters, mapMutations} from "vuex";

export default {
    name: "chapterDrag",
    data() {
        return {
            loading    : false,
            mode       : 0,
            select_mode: 0,

            pages       : [],
            show_pages  : [],
            show_count  : 12,
            change_pages: [],

            select_page: null,
        };
    },
    methods : {
        ...mapMutations({

            setPages: "comic_chapter/setPages",
        }),
        showPageInfo(page) {
            this.select_page = page;
        },
        resetPages() {

            let re   = [];
            let sort = [];
            for (let i = 0; i < this.show_pages.length; i++) {
                let item = this.show_pages[i];

                for (let j = 0; j < item.length; j++) {
                    let page = this.show_pages[i][j];

                    let p_id     = page.id;
                    let old_sort = page.sort;
                    let new_sort = (i * this.show_count) + j + 1;

                    if (old_sort != new_sort) {
                        sort.push({id: p_id, sort: new_sort})
                    }
                    page.new_sort = new_sort;

                    re.push(page);
                }
            }
            this.pages        = re;
            this.change_pages = sort;
        },
        backgroundImage(url) {
            return `url(${url})`;
        },
        checkSort(a, b) {
            return a == b;
        },
        start() {
            this.pages       = this.getPages;
            this.select_mode = this.mode;
        },
        //新增

        //刪除
        deletePage() {
            if (!this.select_page) {
                return;
            }
            let id = this.select_page.id;
            this.$confirm('確定要刪除這張圖片？', '刪除警告', {
                confirmButtonText: '刪除',
                cancelButtonText : '取消',
                type             : 'warning'
            }).then(() => {
                this.loading = true;
                axios.delete("/api/comic/page/" + id).then(() => {
                    this.$message({
                        type   : 'success',
                        message: '刪除成功'
                    });

                    let pages = this.pages;

                    this.select_page = null;
                    this.pages       = pages.filter((page) => page.id != id);
                }).catch(() => {

                }).finally(() => {
                    this.loading = false;
                })
            }).catch(() => {
                this.$message({
                    type   : 'info',
                    message: '取消'
                });
            });

        },
        //修改順序
        changeSort() {

            let id   = this.$route.params.id;
            let sort = this.change_pages;
            if (sort.length <= 0) {
                return;
            }

            this.loading = true;
            axios.post(`/api/comic/chapter/${id}/new_sort`, {sort}).then((re) => {
                let {data} = re;//

                for (let i = 0; i < this.pages.length; i++) {
                    this.pages[i].sort = this.pages[i].new_sort;
                }
                this.setPages(this.pages);
                this.change_pages = [];
                this.$message({
                    type   : 'success',
                    message: '順序修改成功'
                });
            }).catch(() => {

            }).finally(() => {
                this.loading = false;
            })
        },
    },
    watch   : {
        select_mode(val) {
            if (this.select_mode != this.mode)
                this.$emit("modeChange", val);
        },
        pages() {
            let re  = [];
            let add = [];

            for (let i = 0; i < this.pages.length; i++) {
                let item = this.pages[i];

                add.push(item);
                if (i > 0 && (i + 1) % this.show_count == 0) {
                    re.push(add);
                    add = [];
                }
            }
            if (add.length > 0) {
                re.push(add);
            }
            this.show_pages = re;
        },
    },
    computed: {
        ...mapGetters({
            allMode: 'comic_chapter/allMode',

            getPages : 'comic_chapter/getPages',
            showPages: 'comic_chapter/showPages',

            getShowPageCount: 'comic_chapter/getShowPageCount',
        }),

    },
    mounted() {
        this.start();
    },
    components: {draggable}

}
</script>

<style scoped lang="scss">
.dis_in_f {
    display: inline-flex;
}

.r {
    color: red;
}

#main {
    position: relative;

    .page_group {
        //display: inline-flex;
        margin-right: 20px;

        .css_table {
            display: table;
            border: 1px solid black;

            .thead {
                display: table-header-group;

                .th {
                    display: table-cell;
                    padding: 5px;
                }
            }

            .css_tr_group {
                display: table-row-group;
            }
        }

        .page {
            display: table-row;

            //width: 300px;
            //height: 50px;

            &:hover {
                background-color: #b1dfbb;
            }

            .css_td {
                display: table-cell;
                text-align: center;
                //cursor:

                &.preview {
                    width: 50px;
                    height: 50px;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &:hover {
                    cursor: pointer;
                }

                &.handle:hover {
                    cursor: move;
                }
            }
        }
    }

    #info {
        background-color: #e8e8e8;

        #img_info {
            max-width: 100%;
            max-height: 600px;
            object-fit: contain;
        }
    }
}
</style>
