<template>
    <div v-loading="loading">
        <div class="row">
            <div class="col" style="text-align: right;padding-top: 0;padding-right: 20px;padding-bottom: 5px;">
                <div class="btn-group">
                    <router-link :to="{name:'comic.add'}" class="btn btn-sm btn-outline-secondary">搜尋</router-link>
                    <router-link :to="{name:'comic.add'}" class="btn btn-sm btn-outline-secondary">新增</router-link>
                </div>

            </div>
        </div>
        <!--     上面的控制   -->
        <div class="row">
            <div class="col">
                <el-pagination

                    @current-change="goto"
                    :current-page.sync="current_page"
                    :page-size="per_page"
                    layout="prev, pager, next, jumper"
                    :total="total">
                </el-pagination>
            </div>
        </div>
        <div class="row">
            <template v-if="show_type==1">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">編號</th>
                            <th scope="col">封面</th>
                            <th scope="col">標題</th>
                            <th scope="col">作者</th>
                            <th scope="col">章節數</th>
                            <th scope="col">簡介</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in data">
                            <th scope="row">{{ item.id }}</th>
                            <td><img :src="item.cover" alt=""></td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.author_id }}</td>
                            <td>{{ 1 }}</td>
                            <td>{{ item.description }}</td>
                            <td>
                                <el-button type="primary" icon="el-icon-edit" circle size="mini"></el-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </template>
            <template v-if="show_type==2">
                <div class="col-4" v-for="item in data">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" :src="item.cover" alt="">
                        <div class="card-body">
                            <p>{{ item.title }}</p>
                            <p>作者：{{ item.author_id }}</p>
                            <p class="card-text">{{ item.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <div class="btn-group">
                                    <router-link :to="{name:'comic.detail' , params: {id: item.id }}" class="btn btn-sm btn-outline-secondary">編輯</router-link>
                                </div>
                                <small class="text-muted">最後更新時間</small>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <!--     下面的控制   -->
        <div class="row">
            <div class="col">
                <el-pagination

                    @current-change="goto"
                    :current-page.sync="current_page"
                    :page-size="per_page"
                    layout="prev, pager, next, jumper"
                    :total="total">
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "comic",
    data() {
        return {
            loading  : false,
            show_type: 2,//1 table 2 div 預覽

            data          : [],
            current_page  : 1,
            first_page_url: "http://admin.weil.com.tw/api/comic?page=1",
            from          : 1,
            last_page     : 1,
            last_page_url : "http://admin.weil.com.tw/api/comic?page=1",
            links         : [
                {
                    "url"   : null,
                    "label" : "&laquo; Previous",
                    "active": false
                },
                {
                    "url"   : "http://admin.weil.com.tw/api/comic?page=1",
                    "label" : 1,
                    "active": true
                },
                {
                    "url"   : "http://admin.weil.com.tw/api/comic?page=2",
                    "label" : 2,
                    "active": false
                },
                {
                    "url"   : "http://admin.weil.com.tw/api/comic?page=2",
                    "label" : "Next &raquo;",
                    "active": false
                }
            ],
            next_page_url : null,
            path          : "http://admin.weil.com.tw/api/comic",
            per_page      : 10,
            prev_page_url : null,
            to            : 2,
            total         : 2
        };
    },
    methods: {
        //記得補上 切換筆數 功能

        goto(page) {
            this.loading = true;
            axios.get("/api/comic", {
                params: {
                    page
                }
            }).then((res) => {
                let {data} = res;

                this.data           = data.data;
                this.current_page   = data.current_page;
                this.first_page_url = data.first_page_url;
                this.from           = data.from;
                this.last_page      = data.last_page;
                this.last_page_url  = data.last_page_url;
                this.links          = data.links;
                this.next_page_url  = data.next_page_url;
                this.path           = data.path;
                this.per_page       = data.per_page;
                this.prev_page_url  = data.prev_page_url;
                this.to             = data.to;
                this.total          = data.total;

                // console.log(data)

                //看要不要讀取後置頂
            }).catch((err) => {

            }).finally(() => {
                this.loading = false;
            });
        },
    },
    mounted() {
        this.goto(1)
    }
}
</script>

<style scoped>
img.bd-placeholder-img {
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.table img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
</style>
