<template>
    <div style="margin-top: 20px;" v-loading="loading">

        <template v-if="status==200">
            <div class="row">
                <div class="col">

                    <div id="info" class="row">
                        <div class="col-12">
                            <router-link :to="{name:'comic.list'}">
                                <i class="el-icon-d-arrow-left"></i>返回
                            </router-link>
                        </div>
                        <div class="col-3">
                            <img class="img-thumbnail" :src="cover" alt="">
                        </div>
                        <div class="col-9">
                            <!--     作者           -->
                            <div class="form-row">
                                <div class="col-12">
                                    <h1 id="title">{{ title }}</h1>
                                </div>
                                <div class="col-7">
                                    <label for="inp_author">作者</label>
                                    <input id="inp_author" type="text" class="form-control" :value="author_id">
                                </div>
                                <div class="col-5">

                                    <label for="inp_views">觀看次數</label>
                                    <input id="inp_views" type="text" class="form-control" disabled value="999">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-7">
                                    <label for="inp_a">這邊放其他訊息</label>
                                    <input id="inp_a" type="text" class="form-control">
                                </div>
                                <div class="col-5">

                                    <label for="inp_b">更多其他訊息</label>
                                    <input id="inp_b" type="text" class="form-control" disabled value="999">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" style="margin-bottom: 20px;"></div>
                    </div>
                    <div class="row" id="chapters">
                        <div class="col-12">
                            <!--           這邊再考慮一下顯示方式               -->
                            <div class="table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th style="width:70%">標題</th>
                                        <th>頁數</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="chapter in show_chapters">
                                        <td>{{ chapter.id }}</td>
                                        <td>{{ chapter.title }}</td>
                                        <td>{{ chapter.page_count }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-outline-secondary">詳細資料</button>
                                                <router-link :to="{name:'comic.chapter' , params: {id: chapter.id }}" class="btn btn-sm btn-outline-secondary">編輯</router-link>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </template>
        <template v-else>
            <div class="row">
                <div class="col">錯誤！</div>
            </div>
        </template>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "detail",
    data() {
        return {
            loading: false,

            status     : 200,
            author_id  : 0,
            chapters   : [],
            cover      : "/image/empty.jpg",
            created_at : '',
            description: "",
            enable     : 0,
            id         : 2,
            title      : "EX網",
            updated_at : '',
        }
    },
    computed: {
        show_chapters() {
            let re = [];

            for (let i = 0; i < this.chapters.length; i++) {
                let item = this.chapters[i];

                let {title, id, folder, sort, pages} = item;

                let cover      = "/storage/comic/" + folder + '.jpg'
                let page_count = pages ? pages.length : 0;
                re.push({
                    title, cover, id, page_count, sort
                })
            }
            re.sort((a, b) => {
                return a.sort - b.sort;
            })
            return re;
        }
    },
    mounted() {
        let id       = this.$route.params.id;
        this.id      = id;
        this.loading = true;
        axios.get("/api/comic/detail/" + id).then((response) => {
            let {data} = response;

            this.author_id   = data.author_id;
            this.chapters    = data.chapters;
            this.cover       = data.cover;
            this.created_at  = data.created_at;
            this.description = data.description;
            this.enable      = data.enable;
            this.title       = data.title;
            this.updated_at  = data.updated_at;

            console.log(data)
        }).catch((err) => {
            let {response} = err;

            let {data, status} = response;
            this.status        = status;

        }).finally(() => {
            this.loading = false;
        })
    }
}
</script>

<style scoped lang="scss">
#info {

    #title {
        text-align: center;
    }


}

#chapters {
    padding-top: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background-color: #e8e8e8;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(#e8e8e8, #ffffff);
    background-image: -moz-linear-gradient(#e8e8e8, #ffffff);
    background-image: -o-linear-gradient(#e8e8e8, #ffffff);
    background-image: linear-gradient(#e8e8e8, #ffffff);

    .chapter {
        width: 160px;
        height: 30px;
        margin-right: 20px;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 3px;
        background-color: lightgray;

        a {
            font-size: 14px;
            color: black;

        }

        i {
            font-size: 10px;
            font-style: normal;
            color: #888;
            padding-left: 2px;
            line-height: 26px;
        }
    }
}
</style>
