<template>
    <div class="row" v-loading="loading">
        <div class="col">

            <div id="comic_controller" class="row">
                <div class="col-9">
                    <input class="form-control" type="text" placeholder="搜尋關鍵字" v-model="inp_keyword">
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-primary btn-block" @click="quickSearch">搜尋</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-success btn-block">
                        <i class="el-icon-search"></i>進階搜尋
                    </button>
                </div>
            </div>

            <div id="comic_search_data" class="row" v-if="show_search_bar">
                <div class="col-12">
                    <button type="button" class="btn btn-danger" @click="clearSearch">
                        <i class="el-icon-delete"></i>清空
                    </button>


                    <button type="button" class="btn btn-primary" v-for="k in keyword">
                        <i class="el-icon-key"></i><span>關鍵字</span>：<span>{{ k }}</span>
                    </button>
                    <!--         標籤          -->
                    <!--         作者          -->
                    <!--         最後更新時間          -->
                    <!--         發表時間          -->
                    <button type="button" class="btn btn-primary" v-for="t in tag">
                        <i class="el-icon-collection-tag"></i><span>標籤</span>：<span>{{ t }}</span>
                    </button>


                </div>


            </div>

            <div id="comic_show" class="row">
                <template v-for="i in 20">
                    <template v-for="item in data">
                        <router-link :to="{name:'comic.detail' , params: {id: item.id }}" tag="div" class="col-3 comic_area">

                            <div class="row">

                                <div class="col">
                                    <img :src="item.cover" class="img-thumbnail" alt="">
                                </div>

                            </div>
                            <div class="row">

                                <div class="col title">
                                    {{ item.title }}
                                </div>

                            </div>

                        </router-link>
                    </template>
                </template>
            </div>

        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "List",
    data() {
        return {
            loading  : false,
            show_type: 2,//1 table 2 div 預覽<--------這個幹嘛的?

            inp_keyword: "",


            keyword: [],
            tag    : [],

            //控制列
            activeNames: [1],

            data          : [],
            current_page  : 1,
            first_page_url: "http://admin.weil.com.tw/api/comic?page=1",
            from          : 1,
            last_page     : 1,
            last_page_url : "http://admin.weil.com.tw/api/comic?page=1",
            links         : [
                {
                    "url"   : null,
                    "label" : "&laquo; Previous",
                    "active": false
                },
                {
                    "url"   : "http://admin.weil.com.tw/api/comic?page=1",
                    "label" : 1,
                    "active": true
                },
                {
                    "url"   : "http://admin.weil.com.tw/api/comic?page=2",
                    "label" : 2,
                    "active": false
                },
                {
                    "url"   : "http://admin.weil.com.tw/api/comic?page=2",
                    "label" : "Next &raquo;",
                    "active": false
                }
            ],
            next_page_url : null,
            path          : "http://admin.weil.com.tw/api/comic",
            per_page      : 10,
            prev_page_url : null,
            to            : 2,
            total         : 2
        };
    },
    methods : {
        //記得補上 切換筆數 功能
        goto(page) {
            this.loading = true;
            let params   = this.search_data;

            params.page = page;

            axios.get("/api/comic", {
                params
            }).then((res) => {
                let {data} = res;

                this.data           = data.data;
                this.current_page   = data.current_page;
                this.first_page_url = data.first_page_url;
                this.from           = data.from;
                this.last_page      = data.last_page;
                this.last_page_url  = data.last_page_url;
                this.links          = data.links;
                this.next_page_url  = data.next_page_url;
                this.path           = data.path;
                this.per_page       = data.per_page;
                this.prev_page_url  = data.prev_page_url;
                this.to             = data.to;
                this.total          = data.total;

                // console.log(data)

                //看要不要讀取後置頂
            }).catch(err => {

            }).finally(() => {

                this.loading = false;
            });
        },

        //控制列
        handleChange() {

        },
        //快速搜尋
        quickSearch() {
            if (this.inp_keyword.length <= 0)
                return this.$message.warning('請輸入關鍵字');

            this.keyword = [this.inp_keyword];

            this.goto(1);
        },

        //顯示關鍵字列表

        //清除關鍵字列表
        clearSearch() {
            this.inp_keyword = '';
            this.keyword     = [];
            this.tag         = [];

            this.goto(1);
        },
    },
    computed: {
        show_search_bar() {
            return (
                this.keyword.length > 0
                || this.tag.length > 0
            );
        },

        search_data() {
            let keyword = this.keyword.join(',');
            let tag     = this.tag.join(',');

            return {
                keyword: keyword.length > 0 ? keyword : null,
                tag    : tag.length > 0 ? tag : null,
            }
        }
    },
    mounted() {
        this.goto(1);
    }
}
</script>

<style scoped lang="scss">
.comic_area {
    border: solid 1px rgba(0, 0, 0, 0);
    padding-top: 10px;
    padding-bottom: 5px;

    &:hover {
        //box-shadow: inset 1px 1px 20px 0px rgba(0, 0, 0, 0.35);
        cursor: pointer;
        border: solid 1px red;
    }

    .title {

    }
}

#comic_search_data {

    .btn {
        margin-bottom: 5px;
    }
}

#comic_show {

}

#comic_show, #comic_controller, #comic_search_data {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
</style>
