<template>
    <div class="row">
        <div class="col">
            <p>透過EXCEL匯入</p>
            <input ref="f" type="file" name="" @change="excelSet" accept=".xlsx">
            <br>
            <button class="btn btn-primary">添加</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "excel",
    data() {
        return {
            file: null
        }
    },
    methods: {
        //
        excelSet() {
            let fs = this.$refs.f.files;
            if (fs.length < 1) {
                return;
            }

            this.file = fs[0];
        }
    }
}
</script>

<style scoped>

</style>
