<template>
    <div class="row" v-loading="loading">
        <div class="col">
            <div class="row">
                <div class="col">
                    這邊放搜尋、篩選功能列
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">編號</th>
                            <th scope="col">名稱</th>
                            <th scope="col">帳號</th>
                            <th scope="col">身份</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr v-for="user in data">
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <template v-for="(item,ind) in user.roles">
                                    <button type="button" class="btn btn-primary btn-sm" @click="showRoleInfo(item)">{{ item.display_name }}</button>
                                    <br v-if="(ind+1)%4==0">
                                </template>
                            </td>
                            <td>
                                <router-link :to="{name:'member.one', params: {id: user.id }}" class="btn btn-outline-secondary">
                                    編輯
                                </router-link>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 這邊考慮用 store 來記錄上一頁訪問的地方，以方便回上層時不用重跑 -->
            <!-- 如果真要的話，記得設定遺忘時間，先暫定10分鐘         -->
            <div class="row">
                <div class="col">
                    <el-pagination

                        @current-change="goto"
                        :current-page.sync="current_page"
                        :page-size="per_page"
                        layout="prev, pager, next, jumper"
                        :total="total">
                    </el-pagination>
                </div>
            </div>

            <el-dialog v-if="select_role" :title="select_role.display_name+'('+ select_role.name +')'" :visible.sync="show_role_info">
                <el-divider content-position="left">描述</el-divider>
                <div class="row">
                    <div class="col">
                        <p>{{ select_role.description }}</p>
                    </div>
                </div>
                <el-divider>權限</el-divider>
                <div class="row">
                    <div class="col" style="text-align: center">

                        <template v-for="permission in select_role.permissions">
                            <el-popover
                                placement="bottom"
                                :title="permission.display_name+'('+permission.name+')'"
                                width="200"
                                trigger="click"
                                :content="permission.description">
                                <el-button slot="reference" size="small" type="primary" plain>{{ permission.display_name }}</el-button>
                            </el-popover>
                        </template>

                    </div>
                </div>
                <el-divider content-position="right">前往</el-divider>
                <div class="row">
                    <div class="col" style="text-align: right">
                        <router-link :to="{name:'empty'}" class="nav-link">
                            {{ select_role.display_name }}({{ select_role.name }}) 編輯頁面
                        </router-link>
                    </div>
                </div>
            </el-dialog>

        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "list",
    data() {
        return {
            show_role_info: false,
            select_role   : null,

            loading: false,
            data   : [],

            current_page  : 1,
            first_page_url: "",
            from          : 1,
            last_page     : 1,
            last_page_url : "",
            links         : [],
            next_page_url : null,
            path          : "",
            per_page      : 10,
            prev_page_url : null,
            to            : 2,
            total         : 2
        }
    },
    methods: {
        showRoleInfo(role) {
            this.select_role    = role;
            this.show_role_info = true;
        },
        //直接複製過來的切換頁面
        goto(page) {
            this.loading = true;
            axios.get("/api/member", {
                params: {
                    page
                }
            }).then((res) => {
                let {data} = res;
                console.log(data);
                this.data = data.data;

                this.current_page   = data.current_page;
                this.first_page_url = data.first_page_url;
                this.from           = data.from;
                this.last_page      = data.last_page;
                this.last_page_url  = data.last_page_url;
                this.links          = data.links;
                this.next_page_url  = data.next_page_url;
                this.path           = data.path;
                this.per_page       = data.per_page;
                this.prev_page_url  = data.prev_page_url;
                this.to             = data.to;
                this.total          = data.total;

            }).catch(() => {

            }).finally(() => {
                this.loading = false;
            });
        },
    },
    mounted() {
        this.goto(1);
    }
}
</script>

<style scoped>

</style>
