<template>
    <div class="row" v-loading="loading" style="margin-top: 30px;">
        <div class="col">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col text-right">

                    <el-button type="primary" icon="el-icon-circle-plus-outline" @click="add_dialog=true">新增</el-button>
                    <template v-if="select_role_id">
                        <el-button type="success" icon="el-icon-circle-check" @click="savePermissions">儲存</el-button>
                        <el-button type="danger" icon="el-icon-delete">刪除</el-button>
                    </template>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="篩選" v-model="search_roles">
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="篩選" v-model="search_permissions">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-4" id="roles">

                    <div class="list-group">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                           v-for="role in show_roles" :class="{active:select_role_id==role.id}" @click="selectRole(role.id)">
                            {{ role.display_name }}({{ role.name }})
                        </a>
                    </div>

                </div>
                <div class="col-4">
                    <textarea class="form-control" name="" :disabled="!select_role_id" style="height: 400px;" v-model="select_description"></textarea>
                </div>
                <div class="col-4" id="permissions">

                    <div class="custom-control custom-checkbox" v-for="permission in show_permissions">
                        <input type="checkbox" class="custom-control-input" :disabled="!select_role_id" :value="permission.id" v-model="select_permissions" :id="'p'+permission.id">
                        <label class="custom-control-label" :for="'p'+permission.id">{{ permission.display_name }}({{ permission.name }})</label>
                    </div>

                </div>
            </div>

            <el-dialog
                title="提示"
                :visible.sync="add_dialog"
                width="30%"
            >

                <div class="row">
                    <div class="col">
                        <input type="text" placeholder="請輸入使用者名稱" class="form-control" v-model="add_display_name">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" placeholder="請輸入使用者代號" class="form-control" v-model="add_name">
                    </div>
                </div>

                <div slot="footer" class="dialog-footer">
                    <el-button type="primary" icon="el-icon-circle-check" @click="addRole">送出</el-button>
                    <el-button icon="el-icon-circle-close" @click="add_dialog=false">取消</el-button>
                </div>
            </el-dialog>

        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "roles",
    data() {
        return {
            loading   : false,
            add_dialog: false,

            permissions: [],
            roles      : [],

            search_permissions: "",
            search_roles      : "",

            select_role_id    : null,
            select_permissions: [],
            select_description: '',

            add_name        : "",
            add_display_name: "",
        };
    },
    computed: {
        show_roles() {
            let roles = this.roles;
            if (this.search_roles.length > 0) {
                roles = roles.filter((item) => {
                    let {name, display_name} = item;

                    return (name.search(this.search_roles) >= 0 || display_name.search(this.search_roles) >= 0)
                })
            }
            return roles;
        },
        show_permissions() {
            let permissions = this.permissions;

            if (this.search_permissions.length > 0) {
                permissions = permissions.filter((item) => {
                    let {name, display_name} = item;

                    return (name.search(this.search_permissions) >= 0 || display_name.search(this.search_permissions) >= 0)
                })
            }

            return permissions;
        }
    },
    methods : {
        //選擇
        selectRole(id) {
            this.select_role_id = id;
        },
        addRole() {
            this.loading     = true;
            let name         = this.add_name
            let display_name = this.add_display_name
            axios.post("/api/roles/add", {name, display_name}).then((response) => {
                let {data} = response;


                let {role} = data;
                this.roles.push(role);
                this.select_role_id = role.id;

                this.$message({
                    type   : 'success',
                    message: '寫入成功',
                });

                this.add_dialog       = false;
                this.add_name         = '';
                this.add_display_name = '';
            }).catch((err) => {
                let {response}     = err;
                let {data, status} = response;

                if (status == 400) {
                    this.$message({
                        type   : 'error',
                        message: data.message,
                    });
                }

            }).finally(() => {
                this.loading = false;
            })


        },
        //儲存
        savePermissions() {
            let permissions = this.select_permissions;
            let id          = this.select_role_id;
            let description = this.select_description;
            this.loading    = true;
            // console.log(id);
            // console.log(permissions);
            axios.post("/api/rolesPermissions", {id, permissions, description}).then((res) => {
                let {data} = res;

                this.$message({
                    message: '修改成功',
                    type   : 'success'
                });
                let role_ind                       = this.roles.findIndex(role => role.id == id);
                this.roles[role_ind].permission_id = permissions
                this.roles[role_ind].description   = description
            }).catch(() => {

            }).finally(() => {
                this.loading = false;
            })
        },
        //清空
        clear() {
            this.select_role_id     = null;
            this.select_permissions = [];
        }
    },
    watch   : {
        select_role_id(id) {
            let role = this.roles.find(role => role.id == id);

            this.select_permissions = role.permission_id
            this.select_description = role.description
        },
        roles(roles) {
            for (let i = 0; i < roles.length; i++) {
                let role = roles[i];

                this.roles[i].permission_id = role.permissions.map(item => item.id);
            }
        },
        add_dialog(flag) {
            if (!flag) {

            }
        },
    },
    mounted() {
        this.loading = true;
        axios.get("/api/rolesPermissions").then((resp) => {
            let {data} = resp;


            this.permissions = data.permissions
            this.roles       = data.roles
        }).catch(() => {

        }).finally(() => {
            this.loading = false;
        });
    }
}
</script>

<style scoped lang="scss">
#roles, #permissions {
    max-height: 400px;
    overflow-y: auto;
}
</style>
