<template>
    <div id="main">
        <template v-if="user">
            <router-view @logout="logout"></router-view>
        </template>
        <template v-else>
            <login
                @login_success="login"
                @login_fail="logout"
            ></login>
        </template>
    </div>
</template>

<script>

import Login from "./Login";
import {mapGetters, mapMutations} from 'vuex';
import axios from "axios";

//基本上東西都移動到 resources/js/config/Layout.vue 那邊
//這邊是判定 login的地方，跟 vuex 那邊要 user 資料
export default {
    name: "App",
    data() {
        return {
            user: null,
        };
    },
    computed: {},
    methods : {
        ...mapMutations(["setUser", "deleteUser"]),
        login(user) {
            this.$message.success("登入成功");
            this.setUser(user);
            this.user = user;
            window._paq.push(['setUserId', user.id]);

        },
        async logout() {
            await axios.get("/logout");
            this.deleteUser();
            this.user = null;
            // window._paq.push(['resetUserId']);
        },

    },
    mounted() {
        //嘗試取得 user 資料，否則登出
        axios.get("/user").then((res) => {
            let {data} = res;

            this.user = data.user;
            this.setUser(data.user);
            window._paq.push(['setUserId', data.user.id]);
        }).catch(() => {
            this.logout();
        });
    },
    components: {
        Login
    },
}
</script>

<style scoped>
#main {
    height: 100vh;
    width: 100vw;
}
</style>
