<template>
    <div>
        <navbar></navbar>

        <div class="container-fluid">
            <div class="row">

                <sidebar></sidebar>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    <router-view></router-view>
                </main>
            </div>
        </div>


    </div>
</template>

<script>
import Sidebar from "./Sidebar";
import Navbar from "./Navbar";
import {mapGetters, mapMutations} from "vuex";

export default {
    name    : "Layout",
    computed: {
        ...mapGetters(["getUser"]),
    },
    components: {Sidebar, Navbar}
}
</script>

<style scoped>
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

</style>
