<template>
    <div>
        <label>帳號</label>
        <br/>
        <input type="text" placeholder="帳號" value="grand_hr" ref="account">
        <br/>
        <label>密碼</label>
        <br/>
        <input type="password" placeholder="密碼" value="grand_hr" ref="password">
        <br>
        <!--        <input type="hidden" :name="name" :value="token">-->
        <button @click="login">登入</button>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "Login",
    data() {
        return {}
    },
    methods: {
        login() {
            axios.post("/login", {
                account : this.$refs.account.value,
                password: this.$refs.password.value,
            }).then((res) => {
                let {data} = res;
                this.$emit("login_success", {user: data.user});
            }).catch(() => {
                this.$emit("login_fail");
            }).finally(() => {

            });

        },
    },
    mounted() {
    }
}
</script>

<style scoped>

</style>
