<template>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <router-link :to="{name:'root'}" class="nav-link" :class="{active:route_name=='root'}">
                        <i class="el-icon-s-home"></i>首頁
                    </router-link>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>個人</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="個人">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">

                <li class="nav-item">
                    <router-link :to="{name:'root'}" class="nav-link" :class="{active:route_name=='root'}">
                        <span data-feather="file-text"></span>
                        <i class="el-icon-user"></i>個人資料
                    </router-link>
                </li>

            </ul>

            <!--            -->
            <template v-if="checkRoles('HUMAN_RESOURCES')">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>員工</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="員工">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">

                    <li class="nav-item">
                        <router-link :to="{name:'employee.list2'}" class="nav-link" :class="{active:route_name=='employee.list2'}">
                            <span data-feather="file-text"></span>
                            <i class="el-icon-receiving"></i>員工列表改版
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <router-link :to="{name:'employee.list'}" class="nav-link" :class="{active:route_name=='employee.list'}">
                            <span data-feather="file-text"></span>
                            <i class="el-icon-receiving"></i>員工列表
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name:'employee.list'}" class="nav-link" :class="{active:route_name=='employee.one'}">
                            <span data-feather="file-text"></span>
                            <i class="el-icon-user"></i>員工資料
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name:'employee.roles'}" class="nav-link" :class="{active:route_name=='employee.roles'}">
                            <span data-feather="file-text"></span>
                            <i class="el-icon-user-solid"></i>身份管理
                        </router-link>
                    </li>

                </ul>
            </template>
            <!--            -->

            <!--            -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>漫畫</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="漫畫">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <router-link :to="{name:'comic.list'}" class="nav-link" :class="{active:route_name=='comic.list'}">
                        <i class="el-icon-receiving"></i>漫畫列表
                    </router-link>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" :class="{active:route_name=='comic.detail'}">
                        <i class="el-icon-notebook-1"></i>漫畫資料
                    </a>
                </li>

                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" :class="{active:route_name=='comic.chapter'}">
                        <i class="el-icon-notebook-2"></i>章節資料
                    </a>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'comic.add'}" class="nav-link" :class="{active:route_name=='comic.add_comic'}">
                        <i class="el-icon-folder-add"></i>新增漫畫
                    </router-link>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="el-icon-document-add"></i>新增章節
                    </a>
                </li>
            </ul>
            <!--            -->

            <!--            -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>會員</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">

                <li class="nav-item">
                    <router-link :to="{name:'member.list'}" class="nav-link" :class="{active:route_name=='member.list'}">
                        <span data-feather="file-text"></span>
                        <i class="el-icon-receiving"></i>會員列表
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link :to="{name:'member.search'}" class="nav-link" :class="{active:route_name=='member.one'}">
                        <span data-feather="file-text"></span>
                        <i class="el-icon-user"></i>會員資料
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link :to="{name:'member.roles'}" class="nav-link" :class="{active:route_name=='member.roles'}">
                        <span data-feather="file-text"></span>
                        <i class="el-icon-user-solid"></i>身份管理
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link :to="{name:'member.permissions'}" class="nav-link" :class="{active:route_name=='member.permissions'}">
                        <span data-feather="file-text"></span>
                        <i class="el-icon-edit"></i>權限管理
                    </router-link>
                </li>

                <li class="nav-item">
                    <router-link :to="{name:'member.excel'}" class="nav-link" :class="{active:route_name=='member.excel'}">
                        <span data-feather="file-text"></span>
                        <i class="el-icon-edit"></i>EXCEL
                    </router-link>
                </li>

            </ul>
            <!--            -->

            <!--            -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>地圖</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">

                <li class="nav-item">
                    <router-link :to="{name:'map.list'}" class="nav-link">
                        <i class="el-icon-s-home"></i>地圖列表
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'map.leaflet.1'}" class="nav-link">
                        <i class="el-icon-map-location"></i>leaflet簡易範例
                    </router-link>
                </li>

            </ul>
            <!--            -->

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>圖表</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <router-link :to="{name:'chart.list'}" class="nav-link">
                        <i class="el-icon-s-home"></i>介紹頁面
                    </router-link>
                    <router-link :to="{name:'chart.my_weight'}" class="nav-link">
                        <i class="el-icon-pie-chart"></i>體重記錄
                    </router-link>
                </li>

            </ul>

            <!--            -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>其他</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <router-link :to="{name:'empty'}" class="nav-link">
                        <i class="el-icon-s-home"></i>Excel生成
                    </router-link>
                </li>

            </ul>
            <!--            -->

            <!--            -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>保留複製用</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">

                <li class="nav-item">
                    <router-link :to="{name:'empty'}" class="nav-link">
                        <i class="el-icon-s-home"></i>路徑名
                    </router-link>
                </li>

            </ul>
            <!--            -->
        </div>
    </nav>
</template>

<script>
export default {
    name : "Sidebar",
    props: [],
    data() {
        return {'route_name': null}
    },
    methods: {
        //檢查身份
        checkRoles() {
            //跟vuex 的 roles對照

            return true;
        }
    },
    watch  : {
        "$route.name": {
            handler(value) {
                this.route_name = value;
            },
            immediate: true,
        }
    },
}
</script>

<style scoped>

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

</style>
