<template>
    <div class="row" v-loading="loading">
        <div class="col" v-if="data">
            <div class="row">
                <div class="col-3">
                    <img id="avatar" src="/image/avatar.png" class="img-thumbnail" alt="...">
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-8">
                            <label for="name">姓名【<a href="javascript:void(0)" @click="openEdit('name')">修改</a>】</label>
                            <input type="text" class="form-control" id="name" :disabled="!open_edit.name" v-model="data.name">
                        </div>
                        <div class="col-4">
                            <label for="sex">性別【<a href="javascript:void(0)" @click="openEdit('sex')">修改</a>】</label>
                            <select class="form-control" id="sex" :disabled="!open_edit.sex" v-model="data.sex">
                                <option v-for="s in sex" :value="s.code">{{ s.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label for="pid">身分證字號</label>
                            <input type="text" class="form-control" id="pid" :disabled="!open_edit.pid" v-model="data.pid">
                        </div>
                        <div class="col-4">
                            <label for="blood">血型【<a href="javascript:void(0)" @click="openEdit('blood')">修改</a>】</label>
                            <select class="form-control" id="blood" :disabled="!open_edit.blood" v-model="data.blood">
                                <option v-for="s in blood" :value="s.code">{{ s.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label for="eid">員工編號【<a href="javascript:void(0)" @click="openEdit('eid')">修改</a>】</label>
                            <input type="text" class="form-control" id="eid" :disabled="!open_edit.eid" v-model="data.eid">
                        </div>
                        <div class="col-4">
                            <label for="birthday">生日【<a href="javascript:void(0)" @click="openEdit('birthday')">修改</a>】</label>
                            <input type="text" class="form-control" id="birthday" :disabled="!open_edit.birthday" v-model="data.birthday">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button v-if="data_change" class="btn btn-success float-right" @click="edit">修改</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a :class="{active:tabs.roles}" class="nav-link" href="javascript:void(0)">使用者身份</a>
                        </li>
                        <li class="nav-item">
                            <a :class="{active:tabs.other}" class="nav-link" href="javascript:void(0)">其他資料</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col">
                            <template v-for="role in roles">
                                <input type="checkbox" name="" id="">{{ role.display_name }}
                            </template>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "info",
    data() {
        return {
            loading: false,

            src_data   : null,
            data       : null,
            data_change: false,

            tabs: {
                roles: true,
                other: false,
            },

            roles: [],

            sex  : [],
            blood: [],

            open_edit: {
                name    : false,
                sex     : false,
                blood   : false,
                eid     : false,
                birthday: false,
            },
        };
    },
    methods: {
        edit() {
            let id = this.$route.params.id

            // let post_data = {
            //     'name': this.data.name,
            //     'sex' : 1,
            // };
            this.loading = true;
            axios.post('/api/employee/data/' + id, this.data).then((res) => {

                console.log(res.data);

            }).catch((error) => {
                if (!error.response) {
                    console.error(error);
                    return;
                }

                console.log(error.response.data);
            }).finally(() => {
                this.loading = false;
            });
        },
        test() {
            this.$router.push({name: 'employee.list'});
        },
        openEdit(target) {
            this.open_edit[target] = !this.open_edit[target];
            this.data_change       = true;
        },
        //重置
        reset() {
            this.data        = {...this.src_data}
            this.data_change = false;
        }
    },
    mounted() {
        let id = this.$route.params.id

        if (!id) {
            console.log(id + ' 是誰啊！')
            this.$message.error('找不到員工編號');
            this.$router.push({name: 'employee.list'});
        }
        this.loading = true;
        axios.get('/api/employee/data/' + id).then((res) => {
            let {data, sex, blood, roles} = res.data;

            this.src_data = {...data};
            this.data     = data;

            this.roles = roles;

            this.sex   = sex;
            this.blood = blood;

        }).catch((error) => {
            if (!error.response) {
                console.log(error);
                return;
            }

            switch (error.response.status) {
                case 403:
                    this.no_permission = false;
                    this.$message.error('您沒有訪問權限');
                    this.$router.push({name: 'root'});
                    break;
                case 404:
                    // console.log("沒這個人！");
                    this.$message.error('找不到指定員工');
                    this.$router.push({name: 'employee.list'});
                    break;
            }
        }).finally(() => {
            this.loading = false;
        });
    }
}
</script>

<style scoped>
#avatar {
    max-width: 100%;
}
</style>
