<template>
    <div class="row" v-loading="loading">
        <template v-if="no_permission">
            <div class="col-10">
                <div class="row">
                    <div class="col-10">

                    </div>
                    <div class="col-2">

                        <button class="btn btn-primary float-left" @click="showSearch = true;">搜尋</button>

                        <button class="btn btn-danger float-left" v-if="has_search" @click="clearSearch">
                            <i class="el-icon-delete"></i>
                        </button>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>編號</th>
                                <th>員工名稱</th>
                                <th>帳號</th>
                                <th>郵件</th>
                                <th>身份</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="data" v-for="item in data">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name ? item.name : "未命名員工" }}</td>
                                <td>{{ item.account }}</td>
                                <td>{{ item.email }}</td>
                                <td>
                                    <template v-if="item.roles" v-for="r in item.roles">
                                        <el-button type="primary" size="mini" round>{{ r.display_name }}</el-button>
                                    </template>
                                </td>
                                <td>
                                    <router-link :to="{name:'employee.one' , params:{id:item.id}}">詳細</router-link>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <el-pagination
                            @current-change="goto"
                            :current-page.sync="current_page"
                            :page-size="per_page"
                            layout="prev, pager, next, jumper"
                            :total="total">
                        </el-pagination>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col-12">
                        <h5>最近訪問資料</h5>
                    </div>
                    <div class="col-12 searched" v-for="employee in access_employee" @click="goEmployee(employee.id)">
                        <p>{{ employee.id }}:{{ employee.name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>最近搜尋關鍵字</h5>
                    </div>
                    <div class="col-12 searched" v-for="item in searched" @click="searchByHistory(item.name?item.name:'',item.account?item.account:'',item.email?item.email:'')">
                        <p v-if="item.name">名稱:{{ item.name }}</p>
                        <p v-if="item.account">帳號:{{ item.account }}</p>
                        <p v-if="item.email">郵件:{{ item.email }}</p>
                    </div>
                </div>

            </div>
        </template>
        <template v-else>
            <div class="col">
                <p>沒有閱覽權限</p>
            </div>
        </template>

        <el-dialog title="收货地址" :visible.sync="showSearch">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="search_name" class="col-sm-2 col-form-label">名稱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="search_name" placeholder="搜尋名稱" v-model="search_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="search_account" class="col-sm-2 col-form-label">帳號</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="search_account" placeholder="搜尋帳號" v-model="search_account">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="search_email" class="col-sm-2 col-form-label">郵件</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="search_email" placeholder="搜尋郵件" v-model="search_email">
                        </div>
                    </div>
                </div>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button @click="showSearch = false">關閉</el-button>
                <el-button type="primary" @click="search">搜尋</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "list",
    data() {
        return {
            loading: false,

            access_employee: [],

            //搜尋
            showSearch    : false,
            search_name   : '',
            search_account: '',
            search_email  : '',

            no_permission: true,

            data    : [],
            searched: [],

            current_page  : 1,
            first_page_url: "",
            from          : 1,
            last_page     : 1,
            last_page_url : "",
            links         : [],
            next_page_url : null,
            path          : "",
            per_page      : 10,
            prev_page_url : null,
            to            : 2,
            total         : 2
        };
    },
    computed: {

        has_search() {
            return (this.search_name.length > 0)
                || (this.search_account.length > 0)
                || (this.search_email.length > 0);
        },
        search_data() {
            let data = {};

            if (this.search_name.length > 0)
                data['name'] = this.search_name;
            if (this.search_account.length > 0)
                data['account'] = this.search_account;
            if (this.search_email.length > 0)
                data['email'] = this.search_email;

            return data;
        },
    },
    methods : {
        //訪問指定員工
        goEmployee(id) {
            this.$router.push({name: 'employee.one', params: {id}});
        },
        //搜尋
        search() {
            this.goto(1);
            this.showSearch = false;

        },
        searchByHistory(name, account, email) {
            this.search_name    = name
            this.search_account = account
            this.search_email   = email

            this.goto(1);
        },
        //清除搜尋
        clearSearch() {
            this.search_name    = '';
            this.search_account = '';
            this.search_email   = '';
            this.goto(1);

        },
        //取得
        goto(page) {
            this.loading   = true;
            let params     = {...this.search_data};
            params['page'] = page;
            axios.get("/api/employee/list", {
                params: params
            }).then(res => {
                this.no_permission                    = true;
                let {list, searched, access_employee} = res.data;

                this.searched        = searched;
                this.access_employee = access_employee;

                let {data} = list;
                this.data  = data;

                this.current_page   = list.current_page;
                this.first_page_url = list.first_page_url;
                this.from           = list.from;
                this.last_page      = list.last_page;
                this.last_page_url  = list.last_page_url;
                this.links          = list.links;
                this.next_page_url  = list.next_page_url;
                this.path           = list.path;
                this.per_page       = list.per_page;
                this.prev_page_url  = list.prev_page_url;
                this.to             = list.to;
                this.total          = list.total;
            }).catch((error) => {
                if (!error.response) {
                    console.log(error);
                    return;
                }

                switch (error.response.status) {
                    case 403:
                        this.no_permission = false;
                        console.log(error.response.data);
                        break;
                }
            }).finally(() => {
                this.loading = false;
            })
        },

    },
    mounted() {
        this.goto(1);
    }
}
</script>

<style scoped>
.searched {
    padding-left: 30px;
    color: blue;
    text-decoration: underline;
}

.searched:hover {
    cursor: pointer;
    background-color: lightgray;
}
</style>
