<template>
    <div class="row" v-loading="loading">
        <div class="col-10" id="show_data">
            <template v-if="select_id">

                <div class="row">
                    <div class="col-3">
                        <img id="avatar" src="/image/avatar.png" class="img-thumbnail" alt="...">
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-6">
                                <label for="name">姓名【<a href="javascript:void(0)" @click="openEdit('name')">修改</a>】</label>
                                <input id="name" :disabled="!open_edit.name" v-model="select_data.name" type="text" class="form-control">
                            </div>
                            <div class="col-6">
                                <label for="account">帳號【<a href="javascript:void(0)" @click="openEdit('account')">修改</a>】</label>
                                <input id="account" :disabled="!open_edit.account" v-model="select_data.account" type="text" class="form-control">
                            </div>

                            <div class="col-6">
                                <label for="pid">身分證字號【<a href="javascript:void(0)" @click="openEdit('pid')">修改</a>】</label>
                                <input type="text" class="form-control" id="pid" :disabled="!open_edit.pid" v-model="select_data.pid">
                            </div>
                            <div class="col-6">
                                <label for="email">E-mail【<a href="javascript:void(0)" @click="openEdit('email')">修改</a>】</label>
                                <input id="email" :disabled="!open_edit.email" v-model="select_data.email" type="text" class="form-control">
                            </div>

                            <div class="col-6">
                                <label for="eid">員工編號【<a href="javascript:void(0)" @click="openEdit('eid')">修改</a>】</label>
                                <input type="text" class="form-control" id="eid" :disabled="!open_edit.eid" v-model="select_data.eid">
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="text-align: right;">
                        <button class="btn btn-primary" :disabled="!data_change" @click="updateDetail(select_data.id)">修改</button>
                    </div>
                </div>

                <div class="row tab_data">
                    <div class="col">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a :class="{active:tabs.detail}" @click="tabChange('detail')" class="nav-link" href="javascript:void(0)">細項資料</a>
                            </li>
                            <li class="nav-item">
                                <a :class="{active:tabs.roles}" @click="tabChange('roles')" class="nav-link" href="javascript:void(0)">使用者身份</a>
                            </li>
                            <li class="nav-item">
                                <a :class="{active:tabs.other}" @click="tabChange('other')" class="nav-link" href="javascript:void(0)">其他資料</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row tab_data" v-if="tabs.detail">
                    <div class="col-6">

                        <label for="birthday">生日【<a href="javascript:void(0)" @click="openEdit('birthday')">修改</a>】</label>
                        <input type="text" class="form-control" id="birthday" :disabled="!open_edit.birthday" v-model="select_data.birthday">

                    </div>
                    <div class="col-6">

                        <label for="blood">血型【<a href="javascript:void(0)" @click="openEdit('blood')">修改</a>】</label>
                        <select class="form-control" id="blood" :disabled="!open_edit.blood" v-model="select_data.blood">
                            <option v-for="s in blood" :value="s.code">{{ s.name }}</option>
                        </select>

                    </div>
                    <div class="col-6">

                        <label for="sex">性別【<a href="javascript:void(0)" @click="openEdit('sex')">修改</a>】</label>
                        <select class="form-control" id="sex" :disabled="!open_edit.sex" v-model="select_data.sex">
                            <option v-for="s in sex" :value="s.code">{{ s.name }}</option>
                        </select>

                    </div>
                    <div class="col-6">
                        <label for="tel">聯絡電話【<a href="javascript:void(0)" @click="openEdit('tel')">修改</a>】</label>
                        <input type="text" class="form-control" id="tel" :disabled="!open_edit.tel" v-model="select_data.tel">
                    </div>
                    <div class="col-12">
                        <label for="address">地址【<a href="javascript:void(0)" @click="openEdit('address')">修改</a>】</label>
                        <input type="text" class="form-control" id="address" :disabled="!open_edit.address" v-model="select_data.address">
                    </div>
                </div>
                <div class="row tab_data" v-if="tabs.roles">
                    <div class="col">

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success" @click="updateRoles(select_id)">修改</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <template v-for="role in roles">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" :id="'r'+role.id" :value="role.id" v-model="select_role">
                                        <label class="custom-control-label" :for="'r'+role.id">{{ role.display_name }}</label>
                                    </div>
                                </template>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row tab_data" v-if="tabs.other">
                    <div class="col">
                        <p>保留</p>
                    </div>
                </div>

            </template>
            <template v-else>
                <div role="alert" class="alert alert-primary">
                    請選擇學生
                </div>
            </template>

        </div>
        <div class="col-2">
            <div class="row">
                <div class="col">
                    <button class="btn btn-success btn-block" @click="drawerOpen">條件搜尋</button>
                </div>
            </div>
            <div class="row" style="padding-right: 10px;">
                <div class="col css_table" id="sidebar">
                    <div class="css_tr" id="th">
                        <div class="css_td">員工名單</div>
                    </div>
                    <div v-for="item in show_employees" class="css_tr list_body" :class="{active:select_id==item.id}" @click="selectEmployee(item.id)">
                        <div class="css_td">
                            <span class="span_name">{{ item.data.name }}</span>
                            <br>
                            <span class="span_eid">{{ item.data.eid }}</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <el-dialog title="搜尋條件" :visible.sync="show_controller" :with-header="false">
            <div class="row">
                <div class="col" style="text-align: right;">
                    <button class="btn btn-danger" @click="searchClear">
                        <i class="el-icon-delete"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="search_eid">員工編號</label>
                    <input type="text" class="form-control" id="search_eid" v-model="search_eid">
                </div>
                <div class="col-12">
                    <label for="search_name">名稱</label>
                    <input type="text" class="form-control" id="search_name" v-model="search_name">
                </div>
                <div class="col-12">
                    <label for="search_pid">身分證字號</label>
                    <input type="text" class="form-control" id="search_pid" v-model="search_pid">
                </div>
                <div class="col-12">
                    <label for="search_account">帳號</label>
                    <input type="text" class="form-control" id="search_account" v-model="search_account">
                </div>
                <div class="col-12">
                    <label for="search_email">E-mail</label>
                    <input type="text" class="form-control" id="search_email" v-model="search_email">
                </div>

            </div>
        </el-dialog>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "list2",
    data() {
        return {
            loading: false,

            //搜尋
            show_controller: false,
            search_name    : "",
            search_eid     : "",
            search_pid     : "",
            search_account : "",
            search_email   : "",

            //選擇資料
            select_id  : null,
            select_data: null,
            select_role: [],

            //編輯欄位
            data_change: false,
            open_edit  : {},

            //分頁1
            tabs: {
                detail: false,
                roles : false,
                other : false,
            },

            roles: [],

            employees     : {},
            in_roles      : {},
            employee_limit: 20,

            sex  : [],
            blood: [],

        };
    },
    methods : {
        //修改員工資料
        updateDetail(id) {
            this.loading = true;
            axios.post("/api/employee/all_list/" + id + "/detail", this.select_data).then(response => {
                let {} = response.data;

                this.employees[id].id            = this.select_data.id;
                this.employees[id].data.name     = this.select_data.name;
                this.employees[id].email         = this.select_data.email;
                this.employees[id].account       = this.select_data.account;
                this.employees[id].data.sex      = this.select_data.sex;
                this.employees[id].data.pid      = this.select_data.pid;
                this.employees[id].data.blood    = this.select_data.blood;
                this.employees[id].data.eid      = this.select_data.eid;
                this.employees[id].data.birthday = this.select_data.birthday;
                this.employees[id].data.address  = this.select_data.address;
                this.employees[id].data.tel      = this.select_data.tel;


                this.clearEdit();
                this.$message.success('修改成功');
            }).catch(this.ajxCatch).finally(() => {
                this.loading = false;
            });
        },
        //修改身份
        updateRoles(id) {
            this.loading = true;
            axios.post("/api/employee/all_list/" + id + "/roles", {
                roles: this.select_role
            }).then(response => {
                let {}    = response.data;
                let roles = [];
                for (let i in this.select_role) {
                    let rid = this.select_role[i];
                    roles.push(this.roles[rid]);
                }
                this.employees[id].roles = roles;

                this.clearEdit();

                this.$message.success('修改成功');
            }).catch(this.ajxCatch).finally(() => {
                this.loading = false;
            });
        },
        //ajax共用錯誤訊息處理
        ajxCatch(error) {
            if (!error.response) {
                console.log(error);
                return;
            }
            let {status, data} = error.response;

            let {message} = data;
            this.$message.error(message);
        },
        //清除資料
        clear() {
            this.select_id   = false;
            this.select_data = false;
            this.select_role = [];

            this.clearEdit();

        },
        clearEdit() {
            this.open_edit   = {
                name    : false,
                sex     : false,
                blood   : false,
                eid     : false,
                pid     : false,
                birthday: false,
                account : false,
                email   : false,
                address : false,
                tel     : false,
            };
            this.data_change = false;
        },

        //清空搜尋
        searchClear() {
            this.search_name    = "";
            this.search_eid     = "";
            this.search_pid     = "";
            this.search_account = "";
            this.search_email   = "";
        },
        //開啟搜尋
        drawerOpen() {
            this.show_controller = true;
        },
        //選擇
        selectEmployee(id) {
            this.clear();

            this.select_id  = id;
            let select_data = this.employees[id];

            if (!select_data) {
                this.$message.error("未找到使用者編號:" + id);
                this.clear();
                return;
            }
            this.select_data = {
                id      : select_data.id,
                name    : select_data.data.name,
                email   : select_data.email,
                account : select_data.account,
                sex     : select_data.data.sex,
                pid     : select_data.data.pid,
                blood   : select_data.data.blood,
                eid     : select_data.data.eid,
                birthday: select_data.data.birthday,
                address : select_data.data.address,
                tel     : select_data.data.tel,
            };

            let {roles}      = select_data;
            this.select_role = roles.map(x => x['id']);

            this.tabChange('detail');
        },
        tabChange(target) {
            let tab     = {
                detail: false,
                roles : false,
                other : false,
            };
            tab[target] = true;

            this.tabs = tab;
        },
        //開放編輯
        openEdit(target) {
            this.open_edit[target] = !this.open_edit[target];
            this.data_change       = true;
        },
    },
    watch   : {},
    computed: {
        show_employees() {
            let re = [];
            for (let i in this.employees) {
                let employee = this.employees[i];

                //條件篩選
                if (this.search_name.length > 0) {
                    if (employee.data.name.search(this.search_name) < 0)
                        continue;
                }
                if (this.search_eid.length > 0) {
                    if (employee.data.eid.search(this.search_eid) < 0)
                        continue;
                }
                if (this.search_pid.length > 0) {
                    if (employee.data.pid.search(this.search_pid) < 0)
                        continue;
                }
                if (this.search_account.length > 0) {
                    if (employee.account.search(this.search_account) < 0)
                        continue;
                }
                if (this.search_email.length > 0) {
                    if (employee.email.search(this.search_email) < 0)
                        continue;
                }

                re.push(employee)

                if (re.length >= this.employee_limit) {
                    break;
                }
            }
            return re;
        },
    },
    mounted() {
        this.loading = true;
        axios.get("/api/employee/all_list").then(response => {
            let {employees, sex, blood, roles} = response.data;

            this.employees = employees;
            this.sex       = sex;
            this.blood     = blood;
            this.roles     = roles;

            let in_roles = {};

            for (let i in employees) {
                let em = employees[i];

                let {id} = em;


                if (em.roles) {
                    for (let i in em.roles) {
                        let role = em.roles[i];

                        let r_id = role.id;
                        if (!in_roles[r_id])
                            in_roles[r_id] = [];

                        in_roles[r_id].push(id);
                    }
                }

            }

            this.in_roles = in_roles;

            this.clear();
            //先給預設
            let id = this.$route.query.id;

            if (id)
                this.selectEmployee(id);

        }).catch(error => {
            if (!error.response) {
                console.log(error);
                return;
            }


        }).finally(_ => {
            this.loading = false;
        });
    }
}
</script>

<style scoped>
#show_data {
    padding-top: 30px;
}

#sidebar {
    margin-top: 10px;
    box-shadow: black -2px 0 10px;
    border-radius: 10px;
    background-color: white;
}

.css_table {
    display: table;
    font-weight: bold;
    font-size: 20px;
}

.span_name {

}

.span_eid {
    font-size: 16px;
    color: #c1c1c1;
}

#th .css_td {
    border-radius: 0;
    border-bottom: solid 1px lightgray;
}

.css_tr {
    display: table-row;
    border-radius: 10px;
}

.css_td {
    display: table-cell;
}

.css_tr .css_td:nth-child(1) {
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.css_tr .css_td:nth-child(1) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


#sidebar .list_body.css_tr:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

#sidebar .list_body.css_tr.active {
    background-color: #c3c3c3;
}

#sidebar .list_body.css_tr.active .span_name {
    color: red;
}

#sidebar .list_body.css_tr.active .span_eid {
    color: black;
}

.tab_data {
    padding-top: 20px;
}
</style>
