<template>
    <div class="row" v-loading="loading">
        <div class="col">

            <div class="row  mt-3">
                <div class="col text-right">
                    <el-button type="primary" icon="el-icon-circle-plus-outline" @click="add_dialog=true">新增</el-button>
                    <template v-if="select_role_id">
                        <el-button type="success" icon="el-icon-circle-check" @click="updateRole">儲存</el-button>
                        <el-button type="danger" icon="el-icon-delete" @click="removeRole">刪除</el-button>
                    </template>
                </div>
            </div>

            <div class="row  mt-3">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="篩選關鍵字" v-model="search_role">
                </div>
                <div class="col-4">

                </div>
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="篩選關鍵字" v-model="search_permissions">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4">
                    <div class="list-group">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                           v-for="role in show_roles" :class="{active:select_role_id==role.id}" @click="selectRole(role)">
                            {{ role.display_name }}({{ role.name }})
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <textarea class="form-control" name="" :disabled="!select_role_id" style="height: 400px;" v-model="select_description"></textarea>
                </div>
                <div class="col-4" id="permissions">
                    <div class="custom-control custom-checkbox" v-for="permission in show_permissions">
                        <input type="checkbox" class="custom-control-input"
                               :value="permission.id"
                               :id="'p'+permission.id"
                               v-model="select_permissions"
                               :disabled="!select_role_id"
                        >
                        <label class="custom-control-label" :for="'p'+permission.id">{{ permission.display_name }}({{ permission.name }})</label>
                    </div>
                </div>
            </div>

        </div>

        <el-dialog
            title="新增身份"
            :visible.sync="add_dialog"
            width="30%"
        >
            <div class="row">
                <div class="col">
                    <input type="text" :disabled="loading" placeholder="請輸入使用者名稱" class="form-control" v-model="add_display_name">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" :disabled="loading" placeholder="請輸入使用者代號" class="form-control" v-model="add_name">
                </div>
            </div>

            <div slot="footer" class="dialog-footer">
                <el-button type="primary" icon="el-icon-circle-check" @click="addRole">送出</el-button>
                <el-button icon="el-icon-circle-close" @click="add_dialog=false">取消</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import axios from "axios";
import Swal from 'sweetalert2'

export default {
    name: "roles",
    data() {
        return {
            loading: false,

            //新增
            add_dialog      : false,
            add_display_name: '',
            add_name        : '',

            select_role_id    : null,
            select_description: '',
            select_permissions: [],

            search_role       : "",
            search_permissions: "",

            roles      : [],
            permissions: [],

        };
    },
    methods : {
        //新增身份
        addRole() {

            let name         = this.add_name;
            let display_name = this.add_display_name;

            if (name.length < 1 || display_name.length < 1) {
                this.$message.warning("資料未填寫正確");
                return;
            }

            this.loading = true;
            axios.post("/api/employee/roles", {
                name,
                display_name,
            }).then(response => {
                let {role, roles} = response.data;

                this.roles = roles;

                this.add_name         = '';
                this.add_display_name = '';
                this.add_dialog       = false;

                this.selectRole(roles[role.id]);

                this.$message.success('新增成功');
            }).catch(this.errorAction).finally(_ => {
                this.loading = false;
            })
        },
        //更新身份權限
        updateRole() {
            let id = this.select_role_id;

            this.loading = true;
            axios.put('/api/employee/roles/' + id, {
                pid        : this.select_permissions,
                description: this.select_description,
            }).then((response) => {
                let {data} = response.data;

                this.roles[id].permissions = this.select_permissions.map(_ => {
                    return {id: _};
                });
                this.roles[id].description = this.select_description;

                this.$message.success('修改成功');
            }).catch(this.errorAction).finally(() => {
                this.loading = false;
            });
        },
        //刪除使用者
        removeRole() {

            Swal.fire({
                title            : '刪除通知',
                text             : "確定要刪除嗎？",
                icon             : 'warning',
                showCancelButton : true,
                confirmButtonText: '刪除',
                cancelButtonText : "取消",
            }).then(result => {
                // console.log(result);
                if (result.isConfirmed) {
                    let id = this.select_role_id;

                    this.loading = true;
                    axios.delete("/api/employee/roles/" + id).then((response) => {
                        let {roles} = response.data;

                        this.roles = roles;

                        this.select_role_id     = null;
                        this.select_description = '';
                        this.select_permissions = [];

                        this.$message.success('刪除成功');
                    }).catch(this.errorAction).finally(_ => {
                        this.loading = false;
                    });

                }
            })


        },
        //選擇身份
        selectRole(role) {
            this.select_role_id     = role.id;
            this.select_description = role.description;


            this.select_permissions = role.permissions.map((item) => {
                return item.id;
            });
        },
        //搜尋
        searchName(role, search) {
            let kw = this[search];
            if (kw.length <= 0) {
                return true;
            }

            return (role.name.search(kw) >= 0 || role.display_name.search(kw) >= 0)
        },
        errorAction(error) {
            if (!error.response) {
                console.error(error);
                return;
            }

            let {status, data} = error.response;

            let {message} = data;
            this.$message.error(message);
        }
    },
    computed: {
        show_roles() {
            let re = [];

            for (let i in this.roles) {
                let role = this.roles[i];

                if (!this.searchName(role, 'search_role')) {
                    continue;
                }

                re.push(role)
            }

            return re;
        },
        show_permissions() {
            let re = [];

            for (let i in this.permissions) {
                let permission = this.permissions[i];

                if (!this.searchName(permission, 'search_permissions')) {
                    continue;
                }

                re.push(permission)
            }

            return re;
        }
    },
    mounted() {
        this.loading = true;
        axios.get("/api/employee/roles").then((response) => {
            let {roles, permissions} = response.data;

            this.roles       = roles;
            this.permissions = permissions;


        }).catch(this.errorAction).finally(() => {
            this.loading = false;
        });
    }
}
</script>

<style scoped>

</style>
