<template>
    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">
                    <p>這邊是基本的地圖功能，不知為何marker會有奇怪的陰影</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="map"></div>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
require("leaflet/dist/leaflet")

export default {
    name: "leaflet_default",
    data() {
        return {
            map: null,
        };
    },
    mounted() {
        // 建立 Leaflet 地圖
        this.map = L.map('map');

        // 設定經緯度座標
        this.map.setView(new L.LatLng(22.992, 120.239), 12);

        // 設定圖資來源
        let osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        let osm    = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 16});
        this.map.addLayer(osm);
        // divIcon
        let marker = L.marker([22.992, 120.239], {}).addTo(this.map);

        //自製 marker
        let icontext      = "哈";
        let instanceclass = "B";
        let icon          = L.divIcon({
            iconSize: null,
            html    : '<div class="map-label ' + instanceclass + '"><div class="map-label-content">' + icontext + '</div><div class="map-label-arrow"></div></div>'
        });
        L.marker([22.996868, 120.213599], {icon: icon}).addTo(this.map);


        let circle = L.circle(
            [22.988, 120.220],   // 圓心座標
            1000,                // 半徑（公尺）
            {
                color      : 'red',      // 線條顏色
                fillColor  : '#f03', // 填充顏色
                fillOpacity: 0.5   // 透明度
            }
        ).addTo(this.map);

        let polygon = L.polygon([
            [22.992, 120.289],
            [22.982, 120.299],
            [22.970, 120.267],
            [22.990, 120.267]
        ]).addTo(this.map);
    },
    beforeDestroy() {
        this.map.off();
        this.map.remove();
    }
}
</script>

<style scoped lang="scss">
@import "~leaflet/dist/leaflet.css";

#map {
    height: 400px;
}

</style>
