<template>
    <div class="">
        <h1>這個先保留</h1>
        <button @click="getSong">AAA</button>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name   : "kkbox",
    methods: {
        async getSong() {
            let token_res = await axios.post("https://account.kkbox.com/oauth2/token", {
                grant_type   : 'client_credentials',
                client_id    : '8dcb4788b88b4f4510a58add04c158e9',
                client_secret: '193096e6f2bd844e85d49576f20571aa',
            }, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            });

            let {data} = token_res;
            console.log(data);
        }
    }
}
</script>

<style scoped>

</style>
